.container {
    display: flex;
    margin: auto;
}
.option {
    display: block;
    border: 1px solid;
}

.options {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.left-container {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}
.center-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
}
.sketchboard {
    height: 600px;
    width: 600px;
}

.pixel {
    border: 1px solid;
    height: auto;
    width: au
}